$gray: #f8f8fa;
$blueLight: #91d5ff;
$blue: #0092ff;
$blueDark: #0288ec;
$grayText: #909090;
$grayDark: #707070;
$border: #f0f0f0;
$stroke: #DDDAE7;
$darkBg: #f1f1f3;

$all: all 200ms ease;
$transparent: rgba(255, 255, 255, 0);
